%section.main-content
  %h1 Code Editor
  %p
    The Code Editor extension features syntax highlighting and convenient keyboard shortcuts for over 120 programming languages.

  %p
    This editor is available to
    %a{"ui-sref" => "extended"} Standard Notes Extended
    subscribers.

  %h2 Demo
  %iframe{"width" => "100%",  "ng-src" => "{{iframeURL | trusted}}", "frameBorder" => "0", "style" => "min-height: 750px; height: auto;"}
