%section.main-content
  %h1 Real-time Collaborative Document
  %p A proof of concept collaborative text editor for Standard Notes. Simply share the URL with anyone you want to collaborate with.

  %h2 Usage
  %h4 As a Standard Notes Editor:
  %p Copy the following url and paste it in the "Editor" dropdown under your note's title.
  %p
    %strong https://extensions.standardnotes.org/collab?name=Collaborative Editor
  %h4 Standalone
  %p To use as a standalone, end-to-end encrypted document, simply visit this URL in your browser:
  %a{"href" => "https://extensions.standardnotes.org/collab"} https://extensions.standardnotes.org/collab

  %h2 Details
  %p The URL contains a unique, random identifier for the document, as well as an encryption key. Since the encryption key follows the # symbol, it is never sent to the server.
  %p
    Edits to the document are end-to-end encrypted, meaning what you type is encrypted locally
    before being sent to the server and other users.

  %p Other collaborators do not need Standard Notes to collaborate on the doc. Simply share the URL with anyone with a browser.

  %hr
  %p
    Note that because this is an experimental extension, it does not yet have nice things, like conflict resolution.
