%section.main-content
  %h1 Note History Extension
  %p The Note History extension allows you to track changes to your notes, and restore them to previous versions.
  %p This is an invaluable tool for writers and developers, and others who may make changes to a single note often.
  %p
    The Note History extension is available as part of
    %a{"href" => "/pro"} Standard Notes Pro,
    a subscription program that helps Standard Notes sustain and advance, and offers benefits to our subscribers as well.

  %h2 How It Works
  %p When you make a change to a note, the encrypted contents of the note are sent to the revisions extension server.
  %p The server saves these changes as a new revision, and also manages old revisions to avoid clutter.
  %p When you want to restore a note to an older version, simply press "Extensions" in the note editor, and you'll see the revision history for this note.
  %p You can preview the revision before restoring to it.


  %h2 FAQ
  %p.bold How far back does note history go?
  %p
    The history for a note goes back indefinitely. This means you can see changes to your notes from over a year ago.
    Dates that are more recent save more revisions, while a day that is slipping further into the past condenses revisions until only a single revision remains.
    For example, you'll see about 30 revisions for changes you made yesterday, but only a single revision for a specific day a year ago.

  %p.bold If revisions are stored encrypted, how am I able to preview a revision before restoring to it?
  %p
    When your Standard Notes app receives a list of encrypted revisions from the server, it decrypts them locally before displaying them to you.
