%section.main-content
  %h1 Simple Markdown Editor
  %p This Markdown editor allows you to preview your Markdown side-by-side as you type.

  %h2 Demo
  %iframe.shadow-image{"width" => "100%",  "ng-src" => "{{iframeURL | trusted}}", "frameBorder" => "0", "style" => "min-height: 650px; height: auto;"}

  %h2 Installation
  %p.bold To install, simply copy the following URL and paste it in the "Extensions" section of your Standard Notes app:
  %p
    %em.wrap {{extURL}}

  %h2 Screenshots
  %img.shadow-image{"src" => "assets/simple-markdown.png"}

  %h1.mt-50 Advanced Markdown Editor
  %p
  For users looking for a more fully-featured editor, the
  %a{"ui-sref" => "extensions.advanced_markdown"} Advanced Markdown Editor
  is available to Standard Notes Extended subscribers.

  %img.shadow-image.mt-20{"src" => "assets/advanced-markdown-1.png"}
