%section.main-content
  %h1 Simple Markdown Editor
  %p This Markdown editor allows you to preview your Markdown side-by-side as you type.

  %img.shadow-image{"src" => "assets/simple-markdown.png"}

  %h2 Installation
  %p.bold To install, simply copy the following URL and paste it in the "Editor" dropdown in your Standard Notes app:
  %p
    %em {{extServer + "/editors/simple_markdown?name=Simple Markdown"}}

  %h2.mt-50 Advanced Markdown Editor
  %p
  For a more fully featured Markdown editor, check out the
  %a{"ui-sref" => "extensions.advanced_markdown"} Advanced Markdown Editor.

  %img.shadow-image.mt-20{"src" => "assets/advanced-markdown-1.png"}
