.downloads-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .download-item {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;

    min-height: 200px;
    min-width: 350px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 15px;
    margin-right: 15px;

    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.175);

    &.na {
      opacity: 0.4;
    }

    .icon {
      display: block;
      @extend .center;
      @extend .center-align;
      max-width: 80px;
      margin-bottom: 20px;
    }

    .links {
      display: block;
      a.link {
        color: black;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;

        &.screenshot-link {
          text-decoration: none;
          border-left: 1px solid black;
          padding-left: 10px;
          margin-left: 10px;
        }

        &.na {
          text-decoration: none;
        }

        &.block {
          display: block;
          text-align: center;
        }
        &.inline {
          display: inline-block;
          margin: 0px 2px;
        }

        &:hover {
          color: $blue-color;
        }
      }
    }
  }


  .screenshots {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(black, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      font-size: 80px;
      color: white;
      margin: 50px;
      cursor: pointer;
      user-select: none;

      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    .left-arrow {
      transform: scale(-1, 1);
    }

    .content {
      width: 100%;
      height: 95%;
      min-width: 330px;

      .screenshot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;
        width: 100%;
        flex: auto;

        .image {
          max-width:100%;
          max-height:100%;

        }
      }
    }
  }
}

.email-subscribe-wrapper {

  z-index: 100;
  background-color: white;


  .content {
    border: 1px solid rgba(black, 0.2);
    padding: 15px 20px;
    padding-bottom: 0px;

    .social {
      margin-top: 8px;
      margin-bottom: 10px;

      a {
        color: black;
        margin-right: 10px;
      }
    }

    .title {
      font-weight: bold;
      line-height: 20px;
    }

    .subtitle {
      font-size: 14px;
      margin-top: 6px;
      line-height: 18px;
    }

    #mc_embed_signup form {
      padding: 15px 0px 5px 0px;

    }

    #mc-embedded-subscribe {
      width: 100%;
      background-color: black;
      border-radius: 0px;
    }

    #mce-EMAIL {
      width: 100%;
      border-radius: 0px;
      border-color: rgba(black, 0.2);
      height: 35px;
      padding-left: 10px;
    }
  }

  position: relative;
  max-width: 620px;
  margin-bottom: 40px;
  margin-top: 60px;

  @media (min-width: 1300px) {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-bottom: 0px;
    max-width: 350px;
  }
}

.block-link {
  display: block;
  margin-bottom: 10px;
}

.shadow-image {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
