.extension {
  width: 40%;
  margin-right: 10px;
  margin-bottom: 16px;
  height: 200px;
  padding: 15px;
  background-color: #ededed;
  display: inline-block;
  position: relative;

  .get {
    position: absolute;
    bottom: 12px;
  }

  .name {
    font-weight: bold;
  }
}

.footer {
  margin-top: 100px;
}
