.extension {
  width: 40%;
  margin-right: 10px;
  height: 200px;
  padding: 15px;
  background-color: #ededed;
  display: inline-block;

  .name {
    font-weight: bold;
  }
}

.footer {
  margin-top: 100px;
}
