.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-5 {
  margin-right: 5px;
}

.faded {
  opacity: 0.5;
}

.center-align {
  text-align: center !important;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.block {
  display: block !important;
}

.wrap {
  word-wrap: break-word;
}

.one-line-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.small-v-space {
  height: 6px;
  display: block;
}

.medium-v-space {
  height: 12px;
  display: block;
}

.large-v-space {
  height: 24px;
  display: block;
}

.small-padding {
  padding: 5px !important;
}

.medium-padding {
  padding: 10px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.large-padding {
  padding: 22px !important;
}

.red {
  color: red !important;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal !important;
}

.small {
  font-size: 10px !important;
}

.medium {
  font-size: 14px !important;
}

.inline {
  display: inline-block;
}

button {
  cursor: pointer;
}

input {
  margin-bottom: 10px;
  border-radius: 0px;
  min-height: 35px;
  min-width: 240px;
  font-size: 14px;
  padding-left: 6px;
  // box-shadow: inset 0px 0px 0px 0px red;
}
