%section.main-content
  %h1 Developers

  %p If you're a developer and would like to get started with building on Standard Notes or Standard File, these resources should help.

  %h2 Guides
  %p
    %a{"href" => "https://github.com/standardnotes/doc/blob/master/Client%20Development%20Guide.md"} Client Development Guide
  %p
    %a{"href" => "https://github.com/standardnotes/doc/blob/master/Extensions.md"} Extensions Development Guide
  %p
    %a{"href" => "https://github.com/standardfile/ruby-server/wiki/Deploying-a-private-Standard-File-server-with-Amazon-EC2-and-Nginx"} Deploying your own Standard File server

  %h2 Code
  %p
    %a{"href" => "https://github.com/standardnotes"} Standard Notes on Github
  %p
    %a{"href" => "https://github.com/standardfile"} Standard File on Github

  %h2 Community

  %p Join <a href="https://slackin-ekhdyygaer.now.sh/">the Standard Notes Slack group</a> to talk to other developers in the #dev channel.
