%section.main-content
  %h1 Dropbox Sync extension for Standard Notes.

  %div{"ng-if" => "error"}
    There was an error linking your Dropbox. Please try again.
  %div{"ng-if" => "secretUrl"}
    %p
      Your secret URL is:
      %strong {{secretUrl}}
    %p Enter this URL in apps that support Standard File extensions.
  %div{"ng-if" => "!secretUrl"}
    %a{"href" => "{{dropboxLink}}"} Link Dropbox

  %h2 FAQ
  %p
    %strong What permissions does this extension have to my Dropbox data?
  %p
    This extension will only be able to access its own folder, located in your Dropbox in Apps/Standard Notes.
  %p
    %strong What parameters are stored in your database as part of linking my Dropbox?
  %p
    When you link your Dropbox, you'll be taken to the Dropbox website to authorize our application to access a specific folder in your Dropbox.
    Dropbox will then give us a unique token by which we can access this folder (revocable by you at any time). We then encrypt this token with a secret key before saving to our database.
    We do not save this key. Instead, we generate a one-time secret URL that includes this key, and return this URL to you (we do not save this URL either). This means even we can't access our own Standard Notes folder
    without your secret URL.
