%section.main-content
  %h1 Extensions for Standard Notes

  %p Extensions allow you to plug 3rd party services into your Standard Notes experience.

  %p Anyone can build their own extension. You install an extension via a unique URL that you receive from your extension provider.

  %h2 Available Extensions
  .extension
    %h3.name Dropbox Sync
    %p The Dropbox Sync extension allows you to sync your tags and notes to Dropbox for added redundancy.
    %a{"ui-sref" => "extensions.dropbox"} Get

  %h2 Import Tools
  %p
    For importing from Evernote and other services, see the
    %a{"ui-sref" => "tools"} Tools page.

  .footer
    %hr
    %p
      The extensions above are provided at no cost currently.
      We are considering a sustenance model that would allow the core Standard Notes apps to always be free, but to offer an annual subscription for access to any extensions that we develop.
    %p
      If you develop your own extension and would like it listed here, please email us at
      %a{"href" => "mailto:standardnotes@bitar.io"} standardnotes@bitar.io.
    %p
      For a technical explanation of how extensions work, see
      %a{"href" => "https://github.com/standardfile/standardfile.github.io/blob/master/doc/Extensions.md"} this link.
