%section.main-content
  %h1 Standard Notes Pro — Dashboard

  %h2 Producer Extensions
  %div.white-bg.large-padding{"ng-repeat" => "ext in extensions"}
    %p.bold {{ext.name}}
    %p {{ext.desc}}
    %a.block{"href" => "{{ext.url}}", "target" => "_blank"} Configure

  %h2 Producer Credit
  %p
    Thank you for your support. By purchasing a Pro subscription, you're helping support Standard Note's
    mission for privacy and longevity in software.

    We'd like to add you to our
    %a{"href" => "/producers"} Producers page.
    We'll add your name and a website of your choosing to the page.
    %form
      %input.form-control{"type" => "text", "ng-model" => "user.name", "placeholder" => "Your name"}
      %input.form-control{"type" => "text", "ng-model" => "user.website", "placeholder" => "Your website/twitter"}
      %button.black.inline{"ng-click" => "submitInfoForm()"} Submit
    %p{"ng-if" => "infoFormData.success"} Your information has been successfully updated. Please allow a few days for your information to be updated in the Producers page.
    %p.red{"ng-if" => "infoFormData.error"} There was an error saving your info. Please try again.

  %h2 Support
  %p
    For help with setting up your own private Standard Notes or Standard File server, send an email  to
    %a{"href" => "mailto:prodocuers@standardnotes.org"} producers@standardnotes.org.
    We'll help you get started and offer guidance every step of the way.
  %p
    %em (Make sure you send the email from the account associated with your Pro account.)
