%p Our thanks goes to the following individuals, who have contributed to the advancement of Standard Notes in one way or another.

%a.white-bg.mb-5.mr-5.medium.medium-padding.inline.center-align.bold{"ng-repeat" => "producer in producers", "style" => "color: black; min-width: 100px;", "href" => "{{producer.link}}", "target" => "_blank"}
  {{producer.name}}
